<div id="acceso">
<p class="titulo desdederecha">acceso</p>
<div id="caja_login" class="entra_con_elipse">


  <div id="logo">

    <img src="/assets/img/logo_kalma.svg">
  </div>




  <form class="login" (ngSubmit)="Acceder(f)"
  #f="ngForm" >
    <div class="form_caja">

      <i class="fa fa-user"></i>
      <input type="text"
      [(ngModel)]="usuario.nif"
      required
      name="nif"
      minlength="9"
      maxlength="9"
       value="" placeholder="Tu NIF">
      <span *ngIf="f.submitted && f.controls['nif'].errors" >El NIF es obligatorio</span>
    </div>

    <div class="form_caja">
      <i class="fas fa-key"></i>
      <input type="password"
      name="password"
      required
      minlength="8"
      [(ngModel)]="usuario.password"
      placeholder="Constraseña">
        <span *ngIf="f.submitted && f.controls['password'].errors" >La constraseña es obligatoria </span>
    </div>
<div id="info">
    <div>
                    <input type="checkbox" id="recordarme">
                    <label class="label-checkbox100" for="recordarme">
                        Recordar mi usuario
                    </label>
                </div>

                <div>
                    <a routerLink="/registro">
                        ¿No tienes cuenta?
                    </a>
                </div>
                </div>

                  <button id="boton_enviar" type="submit">
                <span>Acceder</span>
                <svg width="13px" height="10px" viewBox="0 0 13 10">
                  <path d="M1,5 L11,5"></path>
                  <polyline points="8 1 12 5 8 9"></polyline>
                </svg>
              </button>

  </form>
</div>

<div id="legal"><a href="#">Política de privacidad</a>
<a href="#">Política de cookies</a>
<a href="#">Aviso legal</a></div>
</div>
