@import '../../../../base.scss';
@import '../../../../utiles.scss';

input[type="checkbox"]{
      -webkit-appearance: checkbox;
}

#acceso,#registro{
  font-size: 14px;
  display: flex;
  background: linear-gradient(-45deg, $colorazulclaro, $colorazuloscuro);
background-size: 400% 400%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
animation: gradientBG 10s ease infinite;
@keyframes gradientBG {0% {background-position: 0% 50%;}50% {background-position: 100% 50%}100% {background-position: 0% 50%;}}
.titulo{
  position: absolute;
top: 30px;
    color: rgba(255, 255, 255, 0.37);
right: 45px;
@include  fuente(7vw);
font-weight: 900;

@include movil{
  font-size: 8vw;
}
}

  #caja_login{

    width: 400px;
margin-top:-40px;
padding: 50px 40px;
background-color: white;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0,0,0,0.5);
@media (max-height: 700px){
  margin:50px 0 70px;
}


#logo{
  position: relative;
margin:0 auto ;
width: 200px;
img{
  width: 100%;
}

}




      form{
        display: flex;
        justify-content: center;
        align-items: center;

        margin:45px auto 0;
        flex-wrap: wrap;
        width: 100%;

        >*{
          width: 100%;
          margin:1% 0;
          &.form_caja{
            margin:0;
            position: relative;;
            span{
              color:orange;
              font-size: 14px;
            }
            >i{
              position: absolute;
              left: 7.5px;
              top:16px;
              color:$colorazuloscuro;

            }
            input{
              padding: 14px;
              font-size: 14px;
              padding-left: 35px;
              background: transparent;
                          border-bottom: 1px solid #b5c7dc;
            }
          }

          &#info{
            color:$colorazuloscuro;
            padding: 15px 0;
            margin-top: 20px;
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
            >div:first-child{


              		    	    /*El estilo de los checkbox */
              input[type="checkbox"] { display: none; }

              input[type="checkbox"] + label {
                display: block;
                position: relative;

               padding-left: 25px;
              opacity: 0.6;
              margin-bottom: 7px;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
              }

              input[type="checkbox"] + label:last-child { margin-bottom: 0; }

              input[type="checkbox"] + label:before {
                content: '';
                    z-index: 1;
                display: block;
                border-radius: 100%;
              width: 15px;
              height: 15px;

                border: 1px solid black;
                position: absolute;
                left: 0;

                top:1px;

                opacity: .3;
                -webkit-transition: all .12s, border-color .08s;
                transition: all .12s, border-color .08s;
              }

              input[type="checkbox"]:checked + label:before {
                width: 6px;
                border-radius: 0;
                top:-3px;
                  left:7px;
                 border: 1px solid $colorverde;
                border-radius: 0;
                opacity: 1;
                border-top-color: transparent;
                border-left-color: transparent;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
              }



              input[type="checkbox"]:checked + label {
              	opacity: 1;
              }
              input[type="checkbox"]:checked + label i{
              // 	text-shadow: 0 0 10px rgba(0, 0, 0, 0.78);
                -webkit-text-stroke: 1px white;
              }



            }
            a{
              color:$colorazuloscuro;
              @extend %transs;
              &:hover{
                color:$colorverde;
              }
            }
          }
          &#boton_enviar{
color:$colorazuloscuro;
background: transparent;
text-align: left;
text-decoration: none;
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all .2s ease;
  &:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba($colorazuloscuro,.5);
    width: 56px;
    height: 56px;
    transition: all .3s ease}
  span{
    position: relative;
    font-size: 16px;
    line-height: 18px;
        display: inline-block;
    font-weight: 900;
    letter-spacing: .25em;
    text-transform: uppercase;
    vertical-align: middle;}
  svg{
    position: relative;
    top: 0;
        display: inline-block;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: $colorazuloscuro;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all .3s ease}
  &:hover{
    color:white!important;
    &:before{
      width: 100%;
      background: rgba($colorazuloscuro,1)}
    svg{
      transform: translateX(1100%);
    stroke:white;}
      }
  &:active{
    transform: scale(.96)}

  }


        }
        input{
          border: none;
border-radius: 0;
              padding: 1vw 1vw;
        }
      }
    }

#legal{
  position: absolute;
  bottom:1vw;
  left: 0;
  display: flex;
justify-content: center;
  width: 100%;
  text-align: center;
  a{
    margin:0 0.5vw;
    color:white;
    text-decoration: none;
  }
}

a{
  text-decoration: none;
}
}
