
<div class="producto" *ngFor="let producto of productos">
  <div class="atributos">
    <i class="fas fa-piggy-bank liquidacion"></i>
    <i class="fas fa-percentage descuento"></i>
    <i class="fas fa-tags promocion"></i>
  </div>
<div class="imagen_producto" style="background-image:url('/assets/img/kalma-web-1.jpg');">
</div>
<p class="titulo_producto">{{producto.name}}</p>
<p class="descripcion_producto">{{producto.description}}</p>
<div class="precio_producto">
<p>PVP</p>
<p class="numero_precio tachado">19.10 <span>€</span></p>
<p class="numero_precio">19.10 <span>€</span></p>
</div>
<button>Añadir al carrito</button>

<div (click)="verProducto(producto.id)" class="mas_info">
<div class="variaciones_producto">
<div class="variacion">
  <select class="" name="">
    <option selected>Variación 1</option>
  </select>
  <i class="fas fa-chevron-down"></i>
</div>
<div class="variacion">
  <select class="" name="">
    <option selected>Variación 2</option>
  </select>
  <i class="fas fa-chevron-down"></i>
</div>
</div>

<div class="botones_producto">

<div class="cantidad">
    <i class="numero_cantidad">4</i>
    <i class="fas fa-plus-circle mas_cantidad"></i>
    <i class="fas fa-minus-circle menos_cantidad"></i>
</div>
<i class="fas fa-info-circle"></i>

</div>


</div>
</div>
