@import '../../../base.scss';
@import '../../../utiles.scss';

.producto{
width: 23%;
margin-right: 2.6666%;
cursor: pointer;
border: 3px solid $colorazuloscuro;
padding: 14vw 1vw 0;
@include ancho{
padding: 210px 15px 0;
}

&:nth-of-type(4n+0){
margin-right: 0%;
}
&:hover .mas_info{

opacity: 1;
}
&:hover .descripcion_producto{
opacity: 0;
}


.imagen_producto{
position: absolute;
width: calc( 100% + 6px );
@include height(14vw);
background-size: cover;
top:-3px;
left:-3px;
}
.atributos{
position: absolute;
display: flex;

flex-direction: column;
@include right(0.5vw);
z-index: 3;
@include top(0.5vw);
i{
@include height(2.5vw);
@include margin-bottom(0.5vw);
@include width(2.5vw);
@include fuente(1.3vw);
border-radius: 100%;
@extend %flex;
color:white;
&.promocion{
  background-color: $colorazuloscuro;
}
&.liquidacion{
  background-color: $colornegro;
}
&.descuento{
  background-color: white;
  color:$colorazuloscuro;
}
}
}
.titulo_producto{
font-weight:900;
@include fuente(2vw);
z-index: 3;
}
.descripcion_producto{
opacity: 1;
@extend %transs;
@include height(8vw);
}
.precio_producto{
z-index: 3;
display: flex;
justify-content: flex-end;
align-items: flex-end;
@include margin-top(-1vw);
p{
display: flex;
@include margin-left(0.5vw);
font-weight: 900;
color:$colorazuloscuro;
@include fuente(0.8vw);
line-height: 1.2;

&.numero_precio{
  color:$colorverde;
  @include fuente(1.6vw);

}
&.tachado{
 text-decoration: line-through;
 color:$colorazuloscuro;
 @include fuente(1.2vw);

}
}
}
button{
@include margin-bottom(1vw);
z-index: 3;
}
.mas_info{

opacity: 0;
width: calc( 100% + 6px );
height: calc( 100% + 6px );
z-index: 2;
position: absolute;
top:-3px;
left:-3px;
@extend %transs;

background-color: rgba(26, 74, 130, 0.69);
*{
@include margin2(0vw,0.4vw);
}
.variaciones_producto{
position: absolute;
@include bottom(11.5vw);
width: calc( 90% - 6px );
margin:0;
left: 5%;
select{
@include padding2(0.3vw,1vw);
@include margin-top(0.4vw);
min-height: inherit;
}
i{
position: absolute;
@include right(0vw);
@include top(0.4vw);
pointer-events: none;
color:$colorazuloscuro;
}
}
.botones_producto{
display: flex;
position: absolute;
@include bottom(7vw);
left: 0;
width: 100%;
justify-content: center;
>i{
  color:white;
  @include fuente(3vw);
}
.cantidad{

  i{
    cursor: pointer;
  }
  .numero_cantidad{
    background-color: white;
    @extend %flex;
    color:$colorazuloscuro;
    font-weight: 900;
    @include fuente(3vw);
    font-style: normal;
    @include height(3vw);
    @include width(3vw);
    border-radius: 100%;
  }
  .mas_cantidad{
    position: absolute;
    @include top(-0.8vw);
    @include right(-0.8vw);
    @include fuente(1.3vw);
    color:$colorazulclaro;

  }
  .menos_cantidad{
    position: absolute;
    @include bottom(-0.8vw);
    @include right(-0.8vw);
    color:white;

    @include fuente(1.3vw);
  }
}
}
}
}

@for $i from 1 through 30{
.producto:nth-of-type(#{$i}){
      -webkit-animation: slide-in-right 0.1s * $i cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation: slide-in-right 0.1s * $i cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
}
