<div id="contenido">
<div id="filtro_columna" class="desdeizquierda">
<div id="clinica">
<div class="titulo_filtro">
<i class="fas fa-tooth"></i>
<p>Clínica</p>
</div>
<ul>
  <li><i class="fas fa-chevron-down"></i> Consumo</li>
  <li><i class="fas fa-chevron-down"></i> Aparatología</li>
  <li><i class="fas fa-chevron-down"></i> Instrumental</li>
</ul>

</div>
<div id="laboratorio">
  <div class="titulo_filtro">
<i class="fas fa-screwdriver"></i>
<p>Laboratorio</p>
</div>
<ul>
<li><i class="fas fa-chevron-down"></i> Lorem ipsum</li>
<li><i class="fas fa-chevron-down"></i> Lorem ipsum</li>
<li><i class="fas fa-chevron-down"></i> Lorem ipsum</li>
</ul>

</div>
<div id="otros_filtros">
  <div class="titulo_filtro">
<i class="fas fa-plus-circle"></i>
<p>Otros filtros</p>
  </div>
</div>
</div>
<div id="lista_productos">
<div id="migas_filtros" class="desdederecha">
  <p><i class="fas fa-angle-double-right"></i> Tu búsqueda: /KOVE/ANALITICA/EN PROMOCION/</p>
  <div class="filtros_productos">
    <select class="" name="">
      <option selected>Filtrar por tipo</option>
    </select>
    <i class="fas fa-chevron-down"></i>
  </div>
  <div class="filtros_productos">
    <select class="" name="">
      <option selected>Filtrar por color</option>
    </select>
    <i class="fas fa-chevron-down"></i>
  </div>
  <div class="filtros_productos">
    <select class="" name="">
      <option selected>Filtrar por componente</option>
    </select>
    <i class="fas fa-chevron-down"></i>
  </div>
</div>

<app-producto id="cuadricula_productos"></app-producto>


</div>
</div>
