@import '../../../base.scss';
@import '../../../utiles.scss';

#contenido{
  min-height: 90vh;
  padding: 2vw 5%;
  display: flex;
  flex-wrap: wrap;
  #filtro_columna{
    width: 15%;
    min-height: 90vh;
    border-right: 1px solid $colorbordeinput;
    @include ancho{
      padding: 30px 5%;
    }
    >div{
      .titulo_filtro{
        @extend %flex;
        justify-content: flex-start;
        width: 100%;
        font-weight: 900;
        i{
          @include margin-right(1vw);
          color:$colorazuloscuro;
          @include fuente(2vw);
        }
      }
      ul{
        li{
          @include margin-bottom(0.5vw);
          i{
            color:$colorgrisoscuro;
            @include margin-right(0.5vw);
          }
        }
      }
    }
  }
  #lista_productos{
    width: 85%;
    @include padding-left(3vw);
    #migas_filtros{
      display: flex;
      align-items: center;
      justify-content: space-between;
      >p{
        width: 65%;
      }
      .filtros_productos{
        width: 30%;
        @include margin-left(1vw);
        i{
          position: absolute;
          @include right(1vw);
          @include top(0.7vw);
        }
      }
    }
    #cuadricula_productos{
      display: flex;
    flex-wrap: wrap;
    @include margin-top(2vw);
    width: 100%;





    }
  }

}
