@import '../../../../base.scss';
@import '../../../../utiles.scss';
#cabecera{
  background-color: $colorgrisclaro;
  width: 100%;
  padding: 1vw 6%;
  border-bottom: 5px solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
   border-image:
     linear-gradient(
       to right,
       $colorazuloscuro,
       $colorazulclaro
     ) 0% 0% 100% 0%;

     @include ancho{
       padding: 15px 6%;
     }
  #logo{
width: 12%;
@include padding-right(1vw);
  }
  #centro{
width: 80%;
display: flex;
flex-wrap: wrap;
#menu{
  width: 52%;
  display: flex;
@include padding-left(1.65vw);
p{
@include  margin-right(1vw);
cursor: pointer;
@extend %transs;
&:hover{
color:$colorverde;
}
&.active{
  font-weight: 900;
}
}
}
#infologin{
  width: 48%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
text-align: right;
@include fuente(0.9vw);
color:$colorazuloscuro;
*{
  @include margin-left(1vw);
}
i:nth-of-type(1){
  color:$colorazulclaro;
  @include fuente(2vw);
}
i:nth-of-type(2){
  color:$colorgrisoscuro;
  @include fuente(2vw);
}
}
#filtrado_menu{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  .cada_input{
    width: 19%;
    input{
      border-radius: 100px 0 0 100px
    }
    &:nth-of-type(2){


    select{
      border-radius: 0;
      margin-left: -1px;
    }
  }
  &:nth-of-type(3){
  select{
      border-radius: 0 100px 100px 0;
      margin-left: -2px;
  }
}

    i{
      position: absolute;
      @include right(1vw);
      @include top(0.7vw);
      color:$colorazuloscuro;
    }
  }
  .etiquetas_filtrado{
    width: 42%;
    display: flex;
    @include padding-left(1vw);
    justify-content: space-between;
    color:white;
    @include fuente(0.88vw);
    align-items: center;
    text-align: center;
    span{
      border-radius: 100px;
      @include padding2(0.4vw,1vw);
      @include margin-left(1vw);
      @extend %transs;
      cursor: pointer;

      &#filtro_promocion{
        background-color: $colorazuloscuro;
      }
      &#filtro_liquidacion{
        background-color: $colorazulclaro;
      }
      &#filtro_ofertas_vigentes{
        background-color: $colorgrisoscuro;
      }
      &:hover{
        background-color: $colorverde!important;
      }
    }
  }
}
  }
  #carrito{
    width: 8%;
    text-align: center;
    @extend %transs;
    &:hover{
      transform: scale(1.1);
      cursor: pointer;
      i{
      color: $colorverde;
      -webkit-background-clip: inherit;
    -webkit-text-fill-color: inherit;
    background: none;
  }
    }

    i{
      @include fuente(4vw);
      @include margin-top(1vw);
      @include margin-left(2vw);
      -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
      color:white;
      @extend %degradadoh;
    }
    span{
      border-radius: 100%;
      background-color: $colorverde;
      @extend %flex;
      @include width(2vw);
      @include height(2vw);
      position: absolute;
      @include right(-1vw);
      @include top(0.5vw);
      color:$colorazuloscuro;
      @include fuente(0.9vw);
      font-weight: 900;

    }
  }
}
