<div id="cabecera" class="desdearriba">
  <div id="logo">
    <img src="/assets/img/logo_kalma.svg">
  </div>
  <div id="centro">
      <div id="menu">
        <p class="pulso" routerLinkActive="active" [routerLink]="['inicio']">INICIO</p>
        <p class="pulso" routerLinkActive="active" [routerLink]="['marketplace']">OUTLET</p>
        <p class="pulso">COMPRA RÁPIDA</p>
        <p class="pulso">MI CATÁLOGO</p>
        <p class="pulso">MI HISTORIAL</p>
      </div>
      <div id="infologin">
        <p>BIENVENIDO DEPOSITO DENTAL JD.</p>
        <p>USUARIO PREMIUM</p>
        <i class="fas fa-medal"></i>
        <i class="fas fa-user"></i>
      </div>
      <div id="filtrado_menu">
        <div class="cada_input">
          <input type="text" name="" placeholder="BÚSQUEDA">
          <i class="fas fa-search"></i>
        </div>
        <div class="cada_input">
          <select class="" name="">
            <option selected>TODAS LAS MARCAS</option>
          </select>
          <i class="fas fa-chevron-down"></i>
        </div>
        <div class="cada_input">
          <select class="" name="">
            <option selected>TODAS LAS CATEGORÍAS</option>
          </select>
          <i class="fas fa-chevron-down"></i>
        </div>
        <div class="etiquetas_filtrado">
          <span id="filtro_promocion">PROMOCIÓN</span>
          <span id="filtro_liquidacion">LIQUIDACIÓN</span>
          <span id="filtro_ofertas_vigentes">OFERTAS VIGENTES</span>
        </div>
      </div>
  </div>
  <div id="carrito">
      <i class="fas fa-shopping-cart"></i>
      <span id="numero_carrito">23</span>
  </div>
</div>
