<div id="registro">
<p class="titulo desdederecha">registro</p>
<div id="caja_login"  class="entra_con_elipse">


  <div id="logo">

    <img src="/assets/img/logo_kalma.svg">
  </div>


<p>Introduce tus datos para el registro de un nuevo usuario</p>

  <form class="login"
  (ngSubmit)="Registrar(f)"
  #f="ngForm" >
    <div class="form_caja">

      <i class="far fa-envelope"></i>
      <input type="email"
      required
      name="email"
      email
      [(ngModel)]="usuario.email"
      placeholder="Tu email">
      <span *ngIf="f.submitted && f.controls['email'].errors" >El email es obligatorio</span>
    </div>
    <div class="form_caja">

      <i class="fas fa-user"></i>
      <input type="text"
      name="name"
      required
      minlength="2"
      [(ngModel)]="usuario.name"
      placeholder="Tu Nombre">
      <span *ngIf="f.submitted && f.controls['name'].errors" >El nombre es obligatorio</span>
    </div>
    <div class="form_caja">

      <i class="fas fa-passport"></i>
      <input type="text"
      [(ngModel)]="usuario.nif"
      required
      name="nif"
      minlength="9"
      maxlength="9"
       value="" placeholder="Tu NIF">
      <span *ngIf="f.submitted && f.controls['nif'].errors" >El NIF es obligatorio</span>
    </div>

    <div class="form_caja">
      <i class="fas fa-key"></i>
      <input type="password"
      name="password"
      required
      minlength="8"
      [(ngModel)]="usuario.password"
      placeholder="Constraseña">
        <span *ngIf="f.submitted && f.controls['password'].errors" >La constraseña es obligatoria y tiene que tener 8 caracteres como mínimo</span>
    </div>

    <div class="form_caja">
      <i class="fas fa-key"></i>
      <input type="password"
      name="c_password"
      required
      minlength="8"
      [(ngModel)]="usuario.c_password"
      placeholder="Confirmar constraseña">
        <span *ngIf="f.submitted && f.controls['password'].value!=f.controls['c_password'].value" >Las contraseñas no coinciden</span>
    </div>
<div id="info">
    <div>
                    <input type="checkbox" id="recordarme">
                    <label class="label-checkbox100" for="recordarme">
                        Recordar mi usuario
                    </label>
                </div>

                <div>
                    <a routerLink="/acceso">
                        Ya tengo cuenta
                    </a>
                </div>
                </div>

                <button id="boton_enviar" type="submit">
                <span>Registrarse</span>
                <svg width="13px" height="10px" viewBox="0 0 13 10">
                  <path d="M1,5 L11,5"></path>
                  <polyline points="8 1 12 5 8 9"></polyline>
                </svg>
              </button>

  </form>
</div>

<div id="legal"><a href="#">Política de privacidad</a>
<a href="#">Política de cookies</a>
<a href="#">Aviso legal</a></div>
</div>
