@import '../login/login.component.scss';

#registro{
    background: linear-gradient(-45deg, $colorazulclaro, $colorverde);
    @keyframes gradientBG {0% {background-position: 0% 50%;}50% {background-position: 100% 50%}100% {background-position: 0% 50%;}}

  .titulo{
    @include  fuente(5.5vw);
  }
  #caja_login{
    >p{
      margin-top:30px;
      text-align: center;
    }
    form{
      margin:10px 0;
        >*{
            &#boton_enviar{
              color:$colorverde;
              &:before{
                background: rgba($colorverde,.3);
              }
              svg{

                stroke: $colorverde;
              }
              &:hover{
                &:before{

                  background: rgba($colorverde,1)}
                svg{
                  transform: translateX(700%);
                }
              }
            }
        }
    }
  }
}
