<app-cabecera *ngIf="!(router.url === '/acceso' || router.url === '/registro')"></app-cabecera>

<router-outlet></router-outlet>
<i class="fas fa-moon modo_noche"></i>
<i class="fas fa-comment chat_online"></i>
<app-footer *ngIf="!(router.url === '/acceso' || router.url === '/registro')"></app-footer>
