@import '../../../base.scss';
@import '../../../utiles.scss';

#product_ind{
  width: 80%;
  margin:0 auto;
  #migas_filtros{
    display: flex;
    align-items: center;
    justify-content: space-between;
    >p{
      width: 65%;
    }
    .filtros_productos{
      width: 30%;
      @include margin-left(1vw);
      i{
        position: absolute;
        @include right(1vw);
        @include top(0.7vw);
      }
    }
  }
  #Promociones{
    .descuento{
background-color: $colorazuloscuro;
color: white;
width: max-content;
border-radius: 10px;
@include margin2(0.3vw,0vw);
@include padding2(0.2vw,1vw);
@include fuente(0.8vw);
*{
  display: inline-block;
  margin-right:1vw;
}

    }
  }
  #producto_info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    #info{
      width: 20%;
    }
    #slider{
      width: 55%;
      .imagen_producto{
        width: 100%;
        height: 300px;
        background-size: cover;
        background-position: center center;
      }
    }
    #compra{
      width: 15%;
      .botones_producto{
      display: flex;
      flex-direction: column;

      width: 100%;
      justify-content: center;
      >i{
        color:white;
        @include fuente(3vw);
      }
      .cantidad{

        i{
          cursor: pointer;
        }
        .numero_cantidad{

          background-color: $colorazuloscuro;
color: white;
          @extend %flex;
margin:0 auto;
          font-weight: 900;
          @include fuente(5vw);
          font-style: normal;
          @include height(7vw);
          @include width(7vw);
          border-radius: 100%;
        }
        .mas_cantidad{
          position: absolute;
          @include top(-0.8vw);
          @include right(1vw);
          @include fuente(1.9vw);
          color:$colorazulclaro;

        }
        .menos_cantidad{
          position: absolute;
          @include bottom(-0.8vw);
          @include right(1vw);
          color:$colorazuloscuro;

          @include fuente(1.9vw);
        }
      }

      .precio_producto{
      z-index: 3;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      @include margin-top(2vw);
      p{
      display: flex;
      @include margin-left(0.5vw);
      font-weight: 900;
      color:$colorazuloscuro;
      @include fuente(0.8vw);
      line-height: 1.2;

      &.numero_precio{
        color:$colorverde;
        @include fuente(1.6vw);

      }
      &.tachado{
       text-decoration: line-through;
       color:$colorazuloscuro;
       @include fuente(1.2vw);

      }
      }
      }
      }

    }
  }
}
