<div id="product_ind">


<div id="migas_filtros" class="desdederecha">
  <p><i class="fas fa-angle-double-right"></i> Tu búsqueda: /KOVE/ANALITICA/EN PROMOCION/</p>
  <div class="filtros_productos">
    <select class="" name="">
      <option selected>Variación 1</option>
    </select>
    <i class="fas fa-chevron-down"></i>
  </div>
  <div class="filtros_productos">
    <select class="" name="">
      <option selected>Variación 2</option>
    </select>
    <i class="fas fa-chevron-down"></i>
  </div>
  <div class="filtros_productos">
    <select class="" name="">
      <option selected>Variación 3</option>
    </select>
    <i class="fas fa-chevron-down"></i>
  </div>
</div>

<div id="Promociones">
<div class="descuento"><i class="fas fa-star"></i>Este producto tiene un 20% de descuento
Hasta el 13/03/2918 - Quedan: 13h 5min y 40seg</div>

  <div class="descuento"><i class="fas fa-star"></i>
<b>¡Recuerda!</b>
    si compras 20 unidades, consigues un 5% de descuento
</div>
    </div>

<div id="producto_info">
<div id="info">
  <h1>{{product_ind.name}}</h1>
  <p>{{product_ind.description}}</p>
  <p><b>Categoría:</b> <span *ngFor="let cat of product_ind.categories">{{cat.name}}</span></p>
  <p><b>Marca:</b> </p>
  <a><i class="fas fa-link"></i> <b>Ver web del producto</b> </a>
  <p>Ref: 2313</p>
  <p>Ref fabricante: 2313</p>

</div>
<div id="slider">
  <div class="imagen_producto" style="background-image:url('/assets/img/kalma-web-1.jpg');">
  </div>
</div>
<div id="compra">
  <div class="botones_producto">

  <div class="cantidad">
      <i class="numero_cantidad">4</i>
      <i class="fas fa-plus-circle mas_cantidad"></i>
      <i class="fas fa-minus-circle menos_cantidad"></i>
  </div>
  <div class="precio_producto">
  <p>PVP</p>
  <p class="numero_precio tachado">19.10 <span>€</span></p>
  <p class="numero_precio">19.10 <span>€</span></p>
  </div>
  <button>Añadir al carrito</button>

  </div>
</div>
  </div>


</div>
