/* You can add global styles to this file, and also import other style files */
@charset "UTF-8";

$pantallaanchas: "(min-width: 1500px)";
$movilesv: "(max-width: 700px)";
$movilesh: "(max-width: 737px) and (orientation:landscape)";
@mixin movil {
  @media #{$movilesv} {
   @content
  }
 }
 @mixin movilh {
  @media #{$movilesh} {
   @content
  }
 }
 @mixin ancho {
  @media #{$pantallaanchas} {
   @content
  }
 }
$colorazulclaro:#6FD4ED;
$colorazuloscuro:#1A4A82;
$colorgrisclaro:#F9F9F9;
$colorgrisoscuro:#999999;
$colornegro:#23262B;
$colorverde:#30D656;
$colorbordeinput:#DEDEDE;



//  $colors:(
//   claro: (
// colortexto:#394054,
// colornegro:#151B26,
// colornaranja:#F46C56,
// colormorado:#A94AD1,
// colorblanco:#ffffff,
// colorblanco3:#ffffff,
// colorgris:#E9E9F0,
// colorblanco2:rgba(255, 255, 255, 0.05),
// colorazul:#1AABFF
//   ),
//   oscuro: (
// colortexto:#ffffff,
// colornegro:#ffffff,
// colornaranja:#F46C56,
// colormorado:#A94AD1,
// colorblanco:#151B26,
// colorblanco3:#394054,
// colorgris:#E9E9F0,
// colorblanco2:#ffffff,
// colorazul:#1AABFF
//   )
// );


@function get-color($key, $type: 'claro'){
  @each $name, $color in map-get($colors, $type){
    @if($key == $name){
      @return $color
    }
  }
}

@mixin get-color($property,$color){
  #{$property}: get-color($color);
  @at-root body.oscuro & {
    #{$property}: get-color($color, oscuro);
  }
}




$fuente:'Muli', sans-serif;



@mixin fuente($size) {
  font-size: $size;
   @media #{$movilesv} {
    font-size: $size*4.5;
  }

  @media #{$pantallaanchas} {
    font-size: (($size/1vw)*15px);
  }
}

@mixin height($margin) {
  height: $margin;
  @media #{$pantallaanchas} {
    height: (($margin/1vw)*15px);
  }

}





@mixin max-height($margin) {
  max-height: $margin;
  @media #{$pantallaanchas} {
    max-height: (($margin/1vw)*15px);
  }


}

@mixin min-height($margin) {
  min-height: $margin;
  @media #{$pantallaanchas} {
    min-height: (($margin/1vw)*15px);
  }

}


@mixin width($margin) {
  width: $margin;
  @media #{$pantallaanchas} {
    width: (($margin/1vw)*15px);
  }

}

@mixin widthi($margin) {
  width: $margin!important;
  @media #{$pantallaanchas} {
    width: (($margin/1vw)*15px)!important;
  }

}



@mixin background-size($fondo) {
  background-size: $fondo;
  @media #{$pantallaanchas} {
    background-size: (($fondo/1vw)*15px);
  }

}
@mixin top($fondo) {
  top: $fondo;
  @media #{$pantallaanchas} {
    top: (($fondo/1vw)*15px);
  }

}

@mixin bottom($fondo) {
  bottom: $fondo;
  @media #{$pantallaanchas} {
    bottom: (($fondo/1vw)*15px);
  }

}

@mixin border($fondo) {
  border-radius: $fondo;
  @media #{$pantallaanchas} {
    border-radius: (($fondo/1vw)*15px);
  }

}
@mixin left($fondo) {
  left: $fondo;
  @media #{$pantallaanchas} {
    left: (($fondo/1vw)*15px);
  }

}

@mixin right($fondo) {
  right: $fondo;
  @media #{$pantallaanchas} {
    right: (($fondo/1vw)*15px);
  }

}
@mixin padding($top, $right, $bottom, $left) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
  @media #{$pantallaanchas} {
  padding-top: (($top/1vw)*15px);
  padding-right: (($right/1vw)*15px);
  padding-bottom: (($bottom/1vw)*15px);
  padding-left: (($left/1vw)*15px);
  }


}
@mixin margin($top, $right, $bottom, $left) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
  @media #{$pantallaanchas} {
  margin-top: (($top/1vw)*15px);
  margin-right: (($right/1vw)*15px);
  margin-bottom: (($bottom/1vw)*15px);
  margin-left: (($left/1vw)*15px);
  }
}


@mixin padding2($top, $right) {
  padding: $top $right;
  @media #{$pantallaanchas} {
  padding: (($top/1vw)*15px) (($right/1vw)*15px);
  }
}



@mixin padding2-porc($top, $right) {
  padding: $top $right;
  @media #{$pantallaanchas} {
  padding: (($top/1vw)*15px) $right;
  }
}

@mixin paddingt($todo) {
  padding: $todo;
  @media #{$pantallaanchas} {
  padding: (($todo/1vw)*15px);
  }
}

@mixin padding-top($top) {
  padding-top: $top;
  @media #{$pantallaanchas} {
  padding-top: ($top/1vw)*15px;
  }
}
@mixin padding-bottom($top) {
  padding-bottom: $top;
  @media #{$pantallaanchas} {
  padding-bottom: ($top/1vw)*15px;
  }
}
@mixin padding-left($top) {
  padding-left: $top;
  @media #{$pantallaanchas} {
  padding-left: ($top/1vw)*15px;
  }
}
@mixin padding-right($top) {
  padding-right: $top;
  @media #{$pantallaanchas} {
  padding-right: ($top/1vw)*15px;
  }
}


@mixin margin-auto($top) {
  margin: $top auto;
  @media #{$pantallaanchas} {
  margin: ($top/1vw)*15px auto;
  }
}

@mixin margin-top($top) {
  margin-top: $top;
  @media #{$pantallaanchas} {
  margin-top: ($top/1vw)*15px;
  }
}
@mixin margin-topi($top) {
  margin-top: $top!important;
  @media #{$pantallaanchas} {
  margin-top: ($top/1vw)*15px!important;
  }
}
@mixin margin-bottom($top) {
  margin-bottom: $top;
  @media #{$pantallaanchas} {
  margin-bottom: ($top/1vw)*15px;
  }
}
@mixin margin-left($top) {
  margin-left: $top;
  @media #{$pantallaanchas} {
  margin-left: ($top/1vw)*15px;
  }
}
@mixin margin-right($top) {
  margin-right: $top;
  @media #{$pantallaanchas} {
  margin-right: ($top/1vw)*15px;
  }
}

@mixin margin2($top, $right) {
  margin: $top $right;
  @media #{$pantallaanchas} {
  margin: (($top/1vw)*15px) (($right/1vw)*15px);
  }
}

@mixin margint($todo) {
  margin: $todo;
  @media #{$pantallaanchas} {
  margin: (($todo/1vw)*15px);
  }
}

@mixin margin2i($top, $right) {
  margin: $top $right!important;
  @media #{$pantallaanchas} {
  margin: (($top/1vw)*15px) (($right/1vw)*15px)!important;
  }
}

%flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

%transs{
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

%degradadoh{
background: linear-gradient(to right,$colorazulclaro 0%,  $colorazuloscuro 100%);
background: -webkit-linear-gradient(left,$colorazulclaro 0%, $colorazuloscuro 100%);
background: -moz-linear-gradient(left,$colorazulclaro 0%,$colorazuloscuro 100%);
}

%circulotexto{

}
