@import 'base';
@import 'utiles';
body{
  color:$colornegro;
  margin:0;
  padding: 0;

  display: block;
  font-family: $fuente;
  font-weight: 400;
  @include fuente(1vw);
  *{
    outline: none;
    box-sizing: border-box;
    display: block;
    position: relative;
  }

.modo_noche,.chat_online{
  color:$colorazuloscuro;
  position: absolute;
  position: fixed;
  @include bottom(1.5vw);
  @include fuente(2.6vw);
}
.modo_noche{
  @include left(1.5vw);
}
.chat_online{
  @include right(1.5vw);
}
}
