
<footer>
  <div id="contenido_footer_centrado">
  <img class="logo_footer" src="/assets/img/logo_kalma.svg">
  <div id="menu">
    <p class="activo">INICIO</p>
    <p>OUTLET</p>
    <p>COMPRA RÁPIDA</p>
    <p>MI CATÁLOGO</p>
    <p>MI HISTORIAL</p>
  </div>
  <i class="fab fa-linkedin-in"></i>
  <img class="logo_fenin" src="/assets/img/adherida_fenin.png">
</div>

<div id="contenido_footer_izquierda">
<p>Envíos express</p>
<div class="iconos_flex">
<i class="fas fa-paper-plane"></i>
<i class="fas fa-shipping-fast"></i>

</div>
<p>Métodos de pago aceptados</p>
<div class="iconos_flex">
  <i class="fab fa-paypal"></i>
  <i class="fab fa-cc-mastercard"></i>
  <i class="fab fa-cc-visa"></i>

</div>
</div>
<div id="contenido_footer_derecha">
<i class="fas fa-medal premium"><span>Usuario premium</span></i>
<i class="fas fa-gavel"></i>
<div id="menu">
  <p class="activo">AVISO LEGAL</p>
  <p>POLÍTICA DE PRIVACIDAD</p>
  <p>CONDICIONES GENERALES DE CONTRATACIÓN</p>
  <p>POLÍTICA DE COOKIES</p>
</div>
</div>
</footer>
