@import '../../../../base.scss';
@import '../../../../utiles.scss';

  footer{background-color: $colorazuloscuro;
  @include paddingt(4vw);
  color:white;
  #contenido_footer_centrado{
    text-align: center;
    .logo_footer{
      margin:0 auto;
      filter: grayscale(1)brightness(0)invert(1);
      width: 15%;
    }
    #menu{
      display: flex;
      @include margin2(2vw,0vw);
      justify-content: center;

      p{
        @include margin2(0vw,0.4vw);
      }

    }
    .fa-linkedin-in{
      @include fuente(2.5vw);
    }
    .logo_fenin{
      margin:2vw auto 0;
      width: 7%;
      @include ancho{
        margin:30px auto 0;
      }
    }
  }
  #contenido_footer_izquierda{
    position: absolute;
    @include bottom(4vw);
    @include left(4vw);
    i{
      @include fuente(2.2vw);
      @include margin-right(1vw);
    }
  }
  #contenido_footer_derecha{
    position: absolute;
    @include bottom(3vw);
    text-align: right;
    @include right(4vw);
    i{
      @include fuente(2.2vw);
      @include margin-left(1vw);
      display: block;
      &.premium{
        color:$colorazulclaro;
        @include margin-bottom(2vw);
        @include fuente(3vw);
      }
      span{
        font-family: $fuente;
        @include fuente(1vw);
        @include margin-top(1vw);
        font-weight: 400;
      }
    }

  }

}
